<div class="row">
   <div class="col-sm-9 col-lg-10">
    <!-- your page content -->
    <center>
    
		<%= form_for @delivery_boy, :url=> url_for(controller: 'delivery_boys', action: 'change_password_update'),remote: true do |f| %>

		  <% if @delivery_boy.errors.any? %>
		  	<%= render partial: 'shared/errors', locals: {resource: @delivery_boy} %>
		  <% end %>

		  <div class="field">
		    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		    <%= f.password_field :current_password %>
		  </div>
		  <div class="field">
		  	<%= f.label :password, "Password" %><br />
				<%= f.password_field :password, :autocomplete => "off"  %>
			</div>
			<div class="field">
		    <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation %>
		  </div>
		  <div class="action_container">
		    <%= f.submit "Change Password", class:"btn btn-primary" %>
		  </div>

		<% end %>
		</center>
  </div>
</div>
