<h2>Details:</h2>
<table>
  <tr>
    <p>
    <th><strong>User name:</strong></th>
    <td><%= @delivery_boy.username %></td>
    </p>
  </tr>

  <tr>
    <p>
    <th><strong>First name:</strong></th>
    <td><%= @delivery_boy.firstname %></td>
    </p>
  </tr>

  <tr>
    <p>
    <th><strong>Last name:</strong></th>
    <td><%= @delivery_boy.lastname %></td>
    </p>
  </tr>

  <tr>
    <p>
    <th><strong>Email:</strong></th>
    <td><%= @delivery_boy.email %></td>
    </p>
  </tr>

  <tr>
    <p>
    <th><strong>Phone no:</strong></th>
    <td><%= @delivery_boy.phoneno %></td>
    </p>
  </tr>

  <tr>
    <p>
    <th><strong>Status:</strong></th>
    <td><%= @delivery_boy.status %></td>
    </p>
  </tr>

</table>
