<%= form_for @delivery_boy, :url=> url_for(controller: 'delivery_boys', action: 'change_password_update') do |f| %>
  <% if @delivery_boy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_boy.errors.count, "error") %> prohibited this borrower from being saved:</h2>

      <ul>
      <% @delivery_boy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
  </div>

  <div class="field">
  	<%= f.label :password, "Password" %><br />
		<%= f.password_field :password, :autocomplete => "off"  %>
	</div>
	<div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="action_container">
    <%= f.submit "Change Password", class:"btn btn-primary" %>
  </div>

<% end %>