<!-- page head start-->
<div class="page-head">
  <h3>
      Add Restaurant Category
  </h3>
  <span class="sub-title">Create Restaurant Category </span>
  <!--<span class="sub-title">Welcome to Static Table</span>-->
  <div class="state-information">
    <ol class="breadcrumb m-b-less bg-less">
      <li><%= link_to 'Dashboard', static_pages_my_account_path %></li>
      <li><%= link_to 'Add', new_restaurantscategory_path , remote: true, class: "showpartials" %></li>
    </ol>
  </div>
</div>

<!-- page head end-->

<div class="content clearfix">
  <div class="form-group clearfix formbackground">

    <%= form_tag restaurantscategory_path, method: :patch, remote: true, class: 'form-horizontal' do %>

      <table>
        <tr>
          <td>
            <%= label_tag "restaurant", nil, class: "control-label col-sm-2"%>
          </td>
          <td>
            <%= collection_select(:restaurant,:id, Restaurant.where(user_id: current_user.id), :id, :name ) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= label_tag "Category",nil, class: "control-label col-sm-2"%>
          </td>
          <td></td>
        </tr>

        <%= collection_check_boxes :restaurant, :category_ids, Category.all, :id, :name do |b| %>
        <tr>
          <td>
          <td>
            <%= b.check_box %>
            <%= b.label %><br>
          </td>
        </tr>
        <% end %>
      </table>
      <%= submit_tag "Edit", 'data-disable-with' => "Please wait.." %>
    <%end%>
  </div>
</div>
