<div class="row">

<div class="col-sm-9 col-lg-10">
<h3>User Details</h3>

  <table class ="table table-hover table-bordered">
  
    <tr>
      <p>
      <th><strong>First name:</strong></th>
      <td><%= @user.firstname %></td>
      </p>
    </tr>
      
    <tr>
      <p>
      <th><strong>Last name:</strong></th>
      <td><%= @user.lastname %></td>
      </p>
    </tr>
    
    <tr>
      <p>
      <th><strong>Username</strong></th>
      <td><%= @user.username %></td>
    </p>
    </tr>
    
    <tr>
      <p>
        <th><strong>Phone No.</strong></th>
        <td><%= @user.phoneno %></td>
      </p>
    </tr>

    <tr>
      <p>
        <th><strong>Email</strong></th>
        <td><%= @user.email %></td>
      </p>
    </tr>
  </table>

  </div>
</div>
