<div class="center jumbotron" align="center">
<%=form_for @address, remote: true do |form| %>
  <% if @address.errors.any? %>
    <%= render partial: 'shared/errors', locals: {resource: @address} %>
  <% end %>

  <%= form.label :addressline %>
    <%= form.text_field :addressline %>
    <br><br>

    <%= form.label :area %>
    <%= form.text_field :area %>
    <br><br>

    <%= form.label :state%>
    <%= form.select :state, CS.states(:in)%>
    <br><br>

    <div id='city-list' remote: true>
      <%= render partial: 'city_list'%> <%#= f.text_field :city %> 
    </div>
    <br><br>

    <%= form.label :pincode %>
    <%= form.text_field :pincode %>
    <br><br>

  <%= form.submit %>
<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#address_state").on("change", function(){
      $.ajax({
        url: '/change_city',
        method: 'GET',
        data: {
          state: $(this).val()
        }
      });
    });
  });
</script>
