<%= form_for @offer ,remote: true do |form|%>
<%= render partial: "shared/errors", locals: {resource: @offer} %>
  <%=label_tag :Restaurant%>
  <%=form.collection_select :restaurant_id, Restaurant.where(user_id: current_user.id).order(:id), :id, :full_name %>
  <div id='food-list' remote: true>
    <%= render partial: 'offers/food_list'%> <%#= f.text_field :city %> 
  </div>
  <%=form.label :Discount%>
  <br>
  <%=form.text_field :discount%><%=form.label :%%>
  <br>
  <%=label_tag :start_date%>
  <br>
  <%= date_field(:offer, :start_date) %>
  <br>
  <%=label_tag :end_date%>
  <br>
  <%= date_field(:offer, :end_date) %>
  <br>
  <%=form.submit%>
<%end%>
