<h1>Listing of Offers</h1>
<% if @offers == [] %>
  <h3>No offers</h3>
<% else %>
  <table class="table table-striped custom-table table-hover">
    <tr>
      <th>no</th>
      <th>Restaurant name</th>
      <th>category</th>
      <th>Food name</th>
      <th>type</th>
      <th>discount in(%)</th>
      <th>start date</th>
      <th>end date</th>
      <th>show</th>
      <th>edit</th>
      <th>delete</th>
    </tr>

    <%@offers.each_with_index do |offer,index|%>
      <tr>
        <%offer.each do |offer|%>
        <td><%= index+1%></td>
        
        <td><%=offer.restaurant.full_name %></td>
        <td><%=offer.food_item.category.name%></td>      
        <td><%=offer.food_item.name%></td>
        <td><%=offer.food_item.food_type%></td>
        <td><%=offer.discount %></td>
        <td><%=offer.start_date %></td>
        <td><%=offer.end_date %></td>
        <td><%= link_to "show", offer_path(offer), remote: true%></td>
        <td><%= link_to "edit", edit_offer_path(offer), remote: true%></td>
        <td><%= link_to "delete", offer_path(offer), method: :delete, data: { confirm: 'Are you sure?' }, remote: true%></td>
      </tr>
      <%end%>
    <%end%>
  </table>
<% end %>
