<h2>create food category</h2>
<%= form_for @food_category do |form|%>
  <%#=form.label :select_branch%>
  <%#=form.collection_select :id, Restaurant.where(user_id: current_user.id).order(:id), :id,:branch_name %><br>
  <div id='category-list' remote: true>
    <%= render partial: 'food_categories/category_list'%>
  </div>
  <br>
  <%=form.label :name%><br>
  <%= form.text_field :name%><br><br>
  <%= form.submit%>
<%end%>

<script type="text/javascript">
    $("#food_category_restaurant_id").on("change", function()
    { 
      $.ajax({
        url: 'change_category.js',
        method: 'GET',
        data: 
        {
          category: $(this).val()
        }
      });
    });

  </script>
