<!-- <h1>Final Order</h1>
<%#= form_for @master_order do |order|%>
  <%#= order.label:order_type%>
  <%#= order.select(:order_type, MasterOrder.order_types.keys) %> </br>
  <%#= order.label:payment_type%>
  <%#= order.select(:payment_type, MasterOrder.payment_types.keys) %> </br>
  <%#= order.label:restaurant%>

  <%#= order.select :restaurant_id, Restaurant.find(Order.find(session[:order].compact.keys).pluck(:restaurant_id).uniq).map{|r| [r.name, r.id]} %> </br>
  <%#= order.submit "place order"%>
<%#end%>
-->
<div id="wrapper">
  <!-- ****** Checkout Area Start ****** -->
  <div class="checkout_area section_padding_100">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="col-md-10 col-xs-12 ">
            <%if current_user%>
              <div class="accdet"><i class="fa fa-plus-square" aria-hidden="true">  </i>&nbsp;Account
              </div>
            <%else%>
              <div class="accdet">
                <i class="fa fa-minus-square" aria-hidden="true"></i>&nbsp;Account
              </div>
            <%end%>
            <div class="accenter">To place your order now, log in to your existing account or sign up.<br>
              <a class="btn sign1">Login</a>
              <a class="btn sign2">Sign Up</a>

              <div class="signupform">
                Already An User ?<span class="signin">Sign In </span>
                <%= form_for(:user, :url => registration_path(:user)) do |f| %>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <%= f.label :first_name %> <span>*</span>
                      <%= f.text_field :firstname, autofocus: true, class: "form-control" %>
                    </div>
                    <div class="col-md-6 mb-3">
                      <%= f.label :last_name%><span>*</span>
                      <%= f.text_field :lastname, class: "form-control"%>
                    </div>
                    <div class="col-md-6 mb-3">
                      <%= f.label :user_name%><span>*</span>
                      <%= f.text_field :username, class: "form-control"%>
                    </div>
                    <div class="col-md-6 mb-3">
                      <%= f.label :phone_no%><span>*</span>
                      <%= f.text_field :phoneno, class: "form-control"%>
                    </div>
                    <div class="col-12 mb-4">
                      <%= f.label :email%><span>*</span>
                      <%= f.email_field :email, class: "form-control" %>
                    </div>
                    <div class="col-md-6 mb-3">
                      <%= f.label :password %><span>*</span>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
                    </div>
                    <div class="col-md-6 mb-3">
                      <%= f.label :password_confirmation %><span>*</span>
                  <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
                    </div>
                    <div class="col-12 mb-4">
                      <%= f.label :Profile_Pic %><br />
                      <%= f.file_field :image%>
                    </div>
                    <div class="col-12 mb-4">
                      <%= f.submit "Sign Up",class: "btn signup"%>
                    </div>
                  </div>
                <%end%>
              </div>

              <div class="loginform">
                Not An User ? <span class="signuplink">Sign Up</span>
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <%= f.label :email%><span>*</span>
                      <%= f.email_field :email, class: "form-control" %>
                    </div>
                    <div class="col-md-6 mb-3">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div>
                    <div class="col-12 mb-4">
                      <%= f.submit "Sign In",class: "btn login"%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="bill-details"></div>
        </div>
      </div>



    </div>
  </div>
  <!-- ****** Checkout Area End ****** -->

</div>
<!-- /.wrapper end -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');

  $(".checkout_details_area").hide();
  $(".loginform").hide();
  $(".signupform").hide();
  $(".addform").hide();
  <% if current_user%>
    $(".accenter").hide();
    $(".deldet").addClass("active");
    $(".accdet").removeClass("active");
    $(".checkout_details_area").show();
  <%else%>
    $(".accdet").addClass("active");
    $(".accenter").show();
    $(".deldet").removeClass("active");
  <%end%>
  $(".sign1").click(function(){
    $(".sign1").hide();
    $(".sign2").hide();
    $(".loginform").show();
  });

  $(".add").click(function(){
    $(".addform").slideToggle();
  });
  $(".sign2").click(function(){
    $(".sign1").hide();
    $(".sign2").hide();
    $(".signupform").show();
    $(".accdet").addClass('active');
    $(".accenter").show();
  });

  $(".deldet").click(function(){
    $(".checkout_details_area").slideToggle();
    $(".deldet").toggleClass('active');
    $("i", this).toggleClass("fa-plus-square fa-minus-square");
  });
  $(".accdet").click(function(){
    $(".accenter").slideToggle();
    $(".accdet").toggleClass('active');
    $("i", this).toggleClass("fa-plus-square fa-minus-square");
  });
  $(".signin").click(function(){
    $('.loginform').show();
    $('.signupform').hide();
  });
    $(".signuplink").click(function(){
    $('.loginform').hide();
    $('.signupform').show();
  });
   $("#master_order_order_type").on("change", function()
    {

      if(master_order_order_type.value == "home delivery")
      {
        $('.add_address').show();
      }
      else
      {
        $('.add_address').hide();
      }
    });
   $('.btn-number').click(function(e){
    e.preventDefault();

    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {

            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            }
            if(parseInt(input.val()) == input.attr('min')) {
                $(this).attr('disabled', true);
            }
        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }
        }
    } else {
        input.val(0);
    }
});
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {

    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());

    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }
});
  $(document).ready(function(){
    $("#address_state").on("change", function(){
      $.ajax({
        url: '/change_city',
        method: 'GET',
        data: {
          state: $(this).val()
        }
      });
    });
  });
  $(document).ready(function(){
    $.ajax({
      method : 'GET',
      url: '/master_orders/bill_details',
      data: {

      }

    });
  });
</script>
