<p>    
  <%= @master_order.total.to_i%><br>
   order type::<%= @master_order.order_type%><br>
  order status::<%= @master_order.order_status%><br>
  payment status::<%= @master_order.payment_status%><br>
    date::<%= @master_order.created_at%><br>

 
</p>

